.wiki-page-buttons {
	position: absolute;
	top: 0px; right: 0px;
}

.wiki-fold-button {
	float: right; clear: both;
	margin-top: 4px;
	margin-right: 4px;
	text-align: right;
	height: 16px;
	padding-right: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right center;
	color: #4ca83d;
	text-decoration: none;
}

.wiki-fold-button span {
	display: none;
}

.wiki-fold-button:hover span {
	display: inline;
}

.wiki-fold-edit {
	background-image: url("../img/icons/axialis/web20/rounded/Green/16x16/Write.png");
}

.wiki-fold-add {
	background-image: url("../img/icons/axialis/web20/rounded/Green/16x16/Plus.png");
}

.wiki-fold-manage {
	background-image: url("../img/icons/axialis/web20/rounded/Green/16x16/Table.png");
}

.wiki-fold-lock {
	background-image: url("../img/icons/axialis/web20/rounded/Green/16x16/Lock.png");
}

.wiki-fold-unlock {
	background-image: url("../img/icons/axialis/web20/rounded/Green/16x16/Lock Open.png");
}

.wiki-fold-delete {
	background-image: url("../img/icons/axialis/web20/rounded/Green/16x16/Trash.png");
	color: #AA0000;
}

.wiki-fold-print {
	background-image: url("../img/icons/axialis/web20/16x16/Green/Printer.png");
}

.wiki-fold-pages {
	background-image: url("../img/icons/axialis/web20/rounded/Green/16x16/Document.png");
}

.wiki-fold-menu {
	min-width: 16px;
	min-height: 16px;
	text-align:right;
	opacity: 0.2;
}

.wiki-fold-menu a {
	display: none;
}

.wiki-fold-menu a:first-child {
	display: block;
}

.wiki-fold-menu:hover {
	opacity: 1;
}

.wiki-fold-menu:hover a {
	display: block;
}
