body, table {
	font-family: helvetica, sans-serif;
}

body {
	background-color: #f1f1f1;
	padding-top: 40px;
}

.content-body {
	min-height: 550px;
}

.page-wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 10px 40px 10px;
	min-height: 550px;
	background: #FFF;
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	border-radius: 0 0 6px 6px;
	margin-bottom: 20px;
}

.page-menu-credits {
	position: absolute;
	bottom: 3px;
	text-align: center;
	width: 100%;
	padding: 4px 0;
	font-size: 0.8em;
	color: #999;
}

.page-menu-credits p {
	padding: 0;
	margin: 3px 0;
}

.page-menu-credits a {
	color: #999;
	text-decoration: none;
}

.page-footer-options {
	float: left;
}

.page-footer-credits {
	float: right;
}

#flashMessage {
	display: none;
	position: absolute;
	top: 40px;
	width: 300px;
	margin-left: -150px;
	padding: 16px;
	text-align: center;
	font-size: 1.4em;
	left: 50%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 0 0 6px 6px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.page-footer {
	padding-top: 1em;
	border-top: 1px solid #444;
}

.search-query {
	border-radius: 5px;
}

.cake-pagination li.active {
	float: left;
	padding: 0 14px;
	line-height: 34px;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left-width: 0;
}

.cake-pagination li.active:first-child {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.cake-pagination li.active:last-child {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.site-config-button i {
	opacity: 0.4;
}
.site-config-button:hover i {
	opacity: 1.0;
}
